.text-center{

	text-align: center;
	color: #270A0B;
	margin-top:35%;
}
.text{
	color: #270A0B;
	margin-top:30%;

}
.text1{
	color: #270A0B;
}
.text2{
	color: #270A0B;
	margin-top: -0%;
	text-align: justify;
}
